.contenedor {
    position: relative;
    display: inline-block;
  }
  
  .imagen {
    display: block;
    opacity: 1;
    transition: opacity 1s; /* Agrega una transición suave para suavizar el efecto */
    border-radius:100%;
     margin-top:20px;
     margin-bottom:20px;
     -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
  }
  
  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    opacity: 0; /* Inicialmente oculta el texto */
    transition: opacity 1s; /* Agrega una transición suave para suavizar el efecto */
    -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
  }
  
  .contenedor:hover img {
    opacity: 0.5; /* Cambia la opacidad de la imagen al pasar el mouse por encima */
    -webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-ms-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
  }
  
  .contenedor:hover .texto {
    opacity: 1; /* Muestra el texto al pasar el mouse por encima */
  }